body, .main-font {
  font-family: Arial, Helvetica, sans-serif; }

.logincard, .card-dettaglio, .card-dettaglio .card-header, .border-dettaglio {
  border-width: 1pt !important;
  border-radius: 6pt !important; }
  .logincard .card-header, .card-dettaglio .card-header, .border-dettaglio .card-header {
    border-radius: 5pt !important; }

.alert-info-custom {
  background-color: #d1c4c4;
  color: #CC3300;
  border-color: #cc3300; }

body {
  background-color: #c8c9c9; }

.maincontainer {
  background-color: #c8c9c9; }

.footer-container {
  background-color: #c8c9c9; }

.logincard {
  background-color: #f5f5f5 !important; }
  .logincard-header h3, .logincard-header h5 {
    color: #CC3300; }

.login_btn {
  color: #CC3300;
  background-color: #52525290;
  border-color: #cc3300;
  width: 100px; }

.logindatisoc {
  background-color: rgba(204, 200, 200, 0.8) !important; }

.input-group-prepend span {
  color: #CC3300;
  background-color: #52525290; }

.navbar-hi {
  color: #cc3300;
  background-color: #525252 !important; }
  .navbar-hi .navbar-brand, .navbar-hi .navbar-text, .navbar-hi .navbar-toggler-icon {
    color: #cc3300; }
  .navbar-hi .navbar-nav .nav-link {
    color: #cc3300; }
  .navbar-hi .nav-item.active .nav-link, .navbar-hi .nav-item:focus .nav-link, .navbar-hi .nav-item:hover .nav-link {
    color: #fa6d3e; }

a {
  color: #cc3300; }
  a:hover {
    color: #fa6d3e; }

.card-dettaglio {
  border-color: #cc3300 !important; }
  .card-dettaglio .card-header {
    font-weight: bold;
    color: #CC3300;
    background-color: #52525290; }
    .card-dettaglio .card-header a {
      color: #CC3300; }
  .card-dettaglio dt {
    color: #525252; }
  .card-dettaglio dd {
    color: #525252;
    background-color: #cc330090;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio li {
    margin-top: 5px;
    background-color: #cc330090;
    color: #525252;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio .btn {
    font-weight: bold;
    color: #CC3300;
    background-color: #52525290;
    border-color: #cc3300 !important; }

.border-dettaglio {
  border-color: #cc3300 !important; }

.card-title .icona {
  color: #52525290 !important; }
.card-title .icona-pdf {
  color: #F40F02; }

.icona-pdf {
  color: #F40F02; }

/*# sourceMappingURL=darkgray.css.map */
