body, .main-font {
  font-family: Arial, Helvetica, sans-serif; }

.logincard, .card-dettaglio, .card-dettaglio .card-header, .border-dettaglio {
  border-width: 1pt !important;
  /*border-radius: 6pt !important;	*/ }

.alert-info-custom {
  border-color: #607d8b; }

body {
  background-color: #eceff1; }

.maincontainer {
  background-color: #eceff1; }

.footer-container {
  background-color: #eceff1; }

.logincard {
  background-color: #eceff1 !important; }
  .logincard-header h3, .logincard-header h5 {
    color: #000000; }

.login_btn {
  color: #000000;
  background-color: #b0b5c5;
  border-color: #607d8b;
  width: 100px; }

.logindatisoc {
  background-color: rgba(204, 200, 200, 0.8) !important; }

.input-group-prepend span {
  color: #000000;
  background-color: #b0b5c5; }

.navbar-hi {
  color: #263238;
  background-color: #ffffff !important; }
  .navbar-hi .navbar-brand, .navbar-hi .navbar-text, .navbar-hi .navbar-toggler-icon {
    color: #263238; }
  .navbar-hi .navbar-nav .nav-link {
    color: #263238; }
  .navbar-hi .nav-item.active .nav-link, .navbar-hi .nav-item:focus .nav-link, .navbar-hi .nav-item:hover .nav-link {
    color: #384952; }

a {
  color: #607d8b; }
  a:hover {
    color: #263238; }

.card-dettaglio {
  border-color: #607d8b !important; }
  .card-dettaglio .card-header {
    font-weight: bold;
    color: #000000;
    background-color: #b0b5c5; }
    .card-dettaglio .card-header a {
      color: #000000; }
  .card-dettaglio dt {
    color: #263238; }
  .card-dettaglio dd {
    color: #263238;
    background-color: #f0f0f0;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio li {
    margin-top: 5px;
    background-color: #f0f0f0;
    color: #263238;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio .btn {
    font-weight: bold;
    color: #000000;
    background-color: #b0b5c5;
    border-color: #607d8b !important; }

.border-dettaglio {
  border-color: #607d8b !important; }

.card-title .icona {
  color: #b0b5c5 !important; }
.card-title .icona-pdf {
  color: #F40F02; }

.icona-pdf {
  color: #F40F02; }

.logincard {
  border: 1px solid;
  border-color: #607d8b; }

/*# sourceMappingURL=default.css.map */
