body, .main-font {
  font-family: Arial, Helvetica, sans-serif; }

.logincard, .card-dettaglio, .card-dettaglio .card-header, .border-dettaglio {
  border-width: 1pt !important;
  border-top-left-radius: 10pt !important;
  border-top-right-radius: 0pt !important;
  border-bottom-right-radius: 10pt !important;
  border-bottom-left-radius: 0pt !important; }
  .logincard .card-header, .card-dettaglio .card-header, .border-dettaglio .card-header {
    border-top-left-radius: 8pt !important;
    border-top-right-radius: 0pt !important;
    border-bottom-right-radius: 10pt !important;
    border-bottom-left-radius: 0pt !important; }

.alert-info-custom {
  background-color: #ceb6b6;
  color: #ce1010;
  border-color: #8d0808; }

body {
  background-color: #f0f0f0; }

.maincontainer {
  background-color: #f0f0f0; }

.footer-container {
  background-color: #f0f0f0; }

.logincard {
  background-color: #f5f5f5 !important; }
  .logincard-header h3, .logincard-header h5 {
    color: #ffffff; }

.login_btn {
  color: #ffffff;
  background-color: #ce1010;
  border-color: #8d0808;
  width: 100px; }

.logindatisoc {
  background-color: rgba(204, 200, 200, 0.8) !important; }

.input-group-prepend span {
  color: #ffffff;
  background-color: #ce1010; }

.navbar-hi {
  color: #960303;
  background-color: #ffffff !important; }
  .navbar-hi .navbar-brand, .navbar-hi .navbar-text, .navbar-hi .navbar-toggler-icon {
    color: #960303; }
  .navbar-hi .navbar-nav .nav-link {
    color: #960303; }
  .navbar-hi .nav-item.active .nav-link, .navbar-hi .nav-item:focus .nav-link, .navbar-hi .nav-item:hover .nav-link {
    color: #ce1010; }

a {
  color: #ce1010; }
  a:hover {
    color: #8d0808; }

.card-dettaglio {
  border-color: #8d0808 !important; }
  .card-dettaglio .card-header {
    font-weight: bold;
    color: #ffffff;
    background-color: #ce1010; }
    .card-dettaglio .card-header a {
      color: #ffffff; }
  .card-dettaglio dt {
    color: #ce1010; }
  .card-dettaglio dd {
    color: #ce1010;
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio li {
    margin-top: 5px;
    background-color: #f5f5f5;
    color: #ce1010;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio .btn {
    font-weight: bold;
    color: #ffffff;
    background-color: #ce1010;
    border-color: #8d0808 !important; }

.border-dettaglio {
  border-color: #8d0808 !important; }

.card-title .icona {
  color: #ce1010 !important; }
.card-title .icona-pdf {
  color: #F40F02; }

.icona-pdf {
  color: #F40F02; }

/*# sourceMappingURL=red.css.map */
