html,body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.main-font {
  font-family: Arial, Helvetica, sans-serif;
}

.homepage{
  background-size: cover;
  background-repeat: no-repeat;
}

.logincard{
  height: 390px;
  margin-top: 60px;
  margin-bottom: auto;
  width: 460px;
  background-color: rgba(177, 169, 169, 0.8) !important;
}
.logincard-header h3,
.logincard-header h5{
  color: white;
}

.logindatisoc{
  background-color: rgba(204, 200, 200, 0.8) !important;
}

.border-3 {
  border-width:3px !important;
}


.input-group-prepend span{
  width: 50px;
  color: black;
  border:0 !important;
}
  
input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}
  
.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}
  
.login_btn:hover{
  color: black;
  background-color: white;
}
  
/* navbar personalizzato */
.navbar-hi {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}
.navbar-hi .navbar-brand,
.navbar-hi .navbar-text {
    color: rgba(0,0,0,.8);
}
.navbar-hi .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
.navbar-hi .nav-item.active .nav-link,
.navbar-hi .nav-item:focus .nav-link,
.navbar-hi .nav-item:hover .nav-link {
    color: rgb(0, 0, 0);
}
/* navbar personalizzato fine */



.links{
  color: white;
}
  
.links a{
  margin-left: 4px;
}

.maincontainer{
  background-color:white;/*rgb(240, 224, 224);*/
}

.border-polizze{
  border-color: rgb(8, 86, 230) !important;
}
.border-scadenze{
  border-color: rgb(253, 93, 0) !important;
}
.border-sinistri{
  border-color: rgb(158, 2, 179) !important;
}
.border-account{
  border-color: rgb(2, 179, 2) !important;
}


.main-pubblicita {
  height: 300px;
}
.main-pubblicita .carousel-item{
  height: 300px;
} 


.img-bg-fullsize{
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}