body, .main-font {
  font-family: Arial, Helvetica, sans-serif; }

.logincard, .card-dettaglio, .card-dettaglio .card-header, .border-dettaglio {
  border-width: 1pt !important;
  /*border-radius: 6pt !important;	*/ }

.alert-info-custom {
  border-color: #0d47a1; }

body {
  background-color: #f5f5f5; }

.maincontainer {
  background-color: #f5f5f5; }

.footer-container {
  background-color: #f5f5f5; }

.logincard {
  background-color: #a7cac6 !important; }
  .logincard-header h3, .logincard-header h5 {
    color: #a7cac6; }

.login_btn {
  color: #a7cac6;
  background-color: #0d47a1;
  border-color: #0d47a1;
  width: 100px; }

.logindatisoc {
  background-color: rgba(204, 200, 200, 0.8) !important; }

.input-group-prepend span {
  color: #a7cac6;
  background-color: #0d47a1; }

.navbar-hi {
  color: #a7cac6;
  background-color: #0d47a1 !important; }
  .navbar-hi .navbar-brand, .navbar-hi .navbar-text, .navbar-hi .navbar-toggler-icon {
    color: #a7cac6; }
  .navbar-hi .navbar-nav .nav-link {
    color: #a7cac6; }
  .navbar-hi .nav-item.active .nav-link, .navbar-hi .nav-item:focus .nav-link, .navbar-hi .nav-item:hover .nav-link {
    color: #a7cac6; }

a {
  color: #0d47a1; }
  a:hover {
    color: #000080; }

.card-dettaglio {
  border-color: #0d47a1 !important; }
  .card-dettaglio .card-header {
    font-weight: bold;
    color: #a7cac6;
    background-color: #0d47a1; }
    .card-dettaglio .card-header a {
      color: #a7cac6; }
  .card-dettaglio dt {
    color: #0d47a1; }
  .card-dettaglio dd {
    color: #0d47a1;
    background-color: #a7cac6;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio li {
    margin-top: 5px;
    background-color: #a7cac6;
    color: #0d47a1;
    border-radius: 6px;
    padding: 2px 2px 2px 10px; }
  .card-dettaglio .btn {
    font-weight: bold;
    color: #a7cac6;
    background-color: #0d47a1;
    border-color: #0d47a1 !important; }

.border-dettaglio {
  border-color: #0d47a1 !important; }

.card-title .icona {
  color: #0d47a1 !important; }
.card-title .icona-pdf {
  color: #F40F02; }

.icona-pdf {
  color: #F40F02; }

/*# sourceMappingURL=test.css.map */
