body{
	@extend %main-font;
	background-color:map-get($colori,"body-bg");
}

.main-font {
	@extend %main-font;
}
.maincontainer{
	background-color:map-get($colori,"body-bg");
}
.footer-container{
	background-color:map-get($colori,"body-bg");
}

.logincard{
	@extend %forma-bordo;
  	background-color: map-get($colori,"modal-card-bg") !important;
	&-header{
		& h3,h5{
		color: map-get($colori,"main-text");
		}
		
	}
}

.login_btn{
  color: map-get($colori,"main-text");
  background-color:   map-get($colori,"main-bg");
  border-color: map-get($colori,"main-border");
  width: 100px;
}

.logindatisoc{
  background-color: rgba(204, 200, 200, 0.8) !important;
}



.input-group-prepend span{
  color: map-get($colori,"main-text");
  background-color:  map-get($colori,"main-bg");
}

.navbar-hi {
  	color: map-get($colori,"menu-text");
  	background-color:map-get($colori,"menu-bg") !important;
	.navbar-brand,.navbar-text, .navbar-toggler-icon{
		color: map-get($colori,"menu-text");
	}
	.navbar-nav .nav-link {
		color:  map-get($colori,"menu-text");
	}
	.nav-item{
		&.active,&:focus,&:hover {
			.nav-link{
				color: map-get($colori,"menu-text-active");
			}
		}
	}
}


a {
  color: map-get($colori,"main-text-a");
	&:hover{
	  color: map-get($colori,"main-text-a-hover");
	}
}


.card-dettaglio {
	@extend %forma-bordo;
	border-color: map-get($colori,"main-border") !important;
  	.card-header{
		@extend %forma-bordo;
	    font-weight: bold;
	    color: map-get($colori,"main-text");
	    background-color: map-get($colori,"main-bg");
		a{
		color:map-get($colori,"main-text");
		}
	}
	dt{
	  color:map-get($colori,"main-text-reverse");
	} 
	dd{
	  color:map-get($colori,"main-text-reverse");
	  background-color:map-get($colori,"main-bg-reverse");
	  border-radius: 6px;
	  padding: 2px 2px 2px 10px;
	}
	li{
	  margin-top: 5px;
	  background-color: map-get($colori,"main-bg-reverse");;
	  color:map-get($colori,"main-text-reverse");
	  border-radius: 6px;
	  padding: 2px 2px 2px 10px;
	}
	.btn{
	  font-weight: bold;
	  color:map-get($colori,"main-text");
	  background-color: map-get($colori,"main-bg");
	  border-color:map-get($colori,"main-border") !important;
	}

}
.border-dettaglio{
	@extend %forma-bordo;
	border-color: map-get($colori,"main-border")!important;
}

.card-title {
	.icona{
		color: map-get($colori,"main-bg") !important;
	}
	.icona-pdf{
		color:#F40F02;
		}
}

.icona-pdf{
	color: #F40F02; }

.alert-info-custom {
  @extend %info-custom;
}

