%main-font{
	font-family:Arial, Helvetica, sans-serif;
}

$colori:(
	"body-bg":#c8c9c9,
	"modal-card-bg":#f5f5f5, 
	
	"menu-bg":#525252,
	"menu-text":#cc3300,
	"menu-text-active":#fa6d3e,
	
	"main-bg":#52525290,
	"main-text": #CC3300,

	"main-bg-reverse":#cc330090,
	"main-text-reverse": #525252,
	
	"main-text-a":#cc3300,
	"main-text-a-hover":#fa6d3e,
	"main-border": #cc3300
);


%forma-bordo{
	border-width: 1pt !important;
	border-radius: 6pt !important;	
	.card-header{
		border-radius: 5pt !important;
	}
}

%info-custom {
	background-color: #d1c4c4;
	color: map-get($colori,"main-text");
	border-color:map-get($colori , "main-border" );
}
  
@import 'stile';

