%main-font{
	font-family:Arial, Helvetica, sans-serif;
}

$colori:(
	"body-bg":#eceff1 ,
	"modal-card-bg":#eceff1,
	
	"menu-bg":#ffffff,
	"menu-text":#263238,
	"menu-text-active":#384952,
	
	"main-bg":#b0b5c5,
	"main-text": #000000,

	"main-bg-reverse":#f0f0f0,
	"main-text-reverse": #263238,
	
	"main-text-a":#607d8b,
	"main-text-a-hover":#263238,
	"main-border": #607d8b  
);
%forma-bordo{
	border-width: 1pt !important;
	/*border-radius: 6pt !important;	*/
}

%info-custom {
	border-color:map-get($colori , "main-border" );
}

@import 'stile';

.logincard{
	border: 1px solid;
	border-color: map-get($colori , "main-border" );
  }