%main-font{
	font-family:Arial, Helvetica, sans-serif;
}

$colori:(
	"body-bg":#f5f5f5 ,
	"modal-card-bg":#d6e5f0,
	
	"menu-bg":#37a10d,
	"menu-text":rgba(236, 236, 236,0.8),
	"menu-text-active":#ffffff,
	
	"main-bg":#37a10d,
	"main-text": #f5f5f5,

	"main-bg-reverse":#ececec,
	"main-text-reverse": #37a10d,
	
	"main-text-a":#37a10d,
	"main-text-a-hover":#008000,
	"main-border": #37a10d
);
%forma-bordo{
	border-width: 1pt !important;
	/*border-radius: 6pt !important;	*/
}

%info-custom {
	border-color:map-get($colori , "main-border" );
}

@import 'stile';

.logincard-header h3, .logincard-header h5 {
	  color: #37a10d; }