%main-font{
	font-family:Arial, Helvetica, sans-serif;
}

$colori:(
	"body-bg":#f0f0f0 ,
	"modal-card-bg":#f5f5f5,
	
	"menu-bg":#ffffff,
	"menu-text":#960303,
	"menu-text-active":#ce1010,
	
	"main-bg":#ce1010,
	"main-text": #ffffff,

	"main-bg-reverse":#f5f5f5,
	"main-text-reverse": #ce1010,
	
	"main-text-a":#ce1010,
	"main-text-a-hover":#8d0808,
	"main-border": #8d0808
);
%forma-bordo{
	border-width: 1pt !important;
	border-top-left-radius: 10pt !important;
	border-top-right-radius: 0pt !important;
	border-bottom-right-radius: 10pt !important;
	border-bottom-left-radius: 0pt !important;
	.card-header{
		border-top-left-radius: 8pt !important;
		border-top-right-radius: 0pt !important;
		border-bottom-right-radius: 10pt !important;
		border-bottom-left-radius: 0pt !important;
	}
}

%info-custom {
	background-color: #ceb6b6;
	color:map-get($colori , "main-text-reverse" );
	border-color:map-get($colori , "main-border" );
}

@import 'stile';