%main-font{
	font-family:Arial, Helvetica, sans-serif;
}

$colori:(
	"body-bg":#f5f5f5 ,
	"modal-card-bg":#a7cac6,
	
	"menu-bg":#0d47a1,
	"menu-text":#a7cac6,
	"menu-text-active":#a7cac6,
	
	"main-bg":#0d47a1,
	"main-text": #a7cac6,

	"main-bg-reverse":#a7cac6,
	"main-text-reverse": #0d47a1,
	
	"main-text-a":#0d47a1,
	"main-text-a-hover":#000080,
	"main-border": #0d47a1
);
%forma-bordo{
	border-width: 1pt !important;
	/*border-radius: 6pt !important;	*/
}

%info-custom {
	border-color:map-get($colori , "main-border" );
}

@import 'stile';